/build/classes/.netbeans_automatic_build
/build/classes/.netbeans_update_resources
/build/classes/br/edu/ifnmg/Teste/DataAccess/BD.class
/build/classes/br/edu/ifnmg/Teste/DataAccess/ProdutoDAO.class
/build/classes/br/edu/ifnmg/Teste/DomainModel/ItemVenda.class
/build/classes/br/edu/ifnmg/Teste/DomainModel/Produto.class
/build/classes/br/edu/ifnmg/Teste/DomainModel/Venda.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/PainelComGuias$1.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/PainelComGuias$2.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/PainelComGuias.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/PainelComGuias.form
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$1.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$2.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$3.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$4.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$5.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$6.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal.form
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmSecundaria$1.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmSecundaria.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmSecundaria.form
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmSecundarioInterno$1.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmSecundarioInterno$2.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmSecundarioInterno$3.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmSecundarioInterno.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmSecundarioInterno.form
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVenda$1.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVenda$2.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVenda.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVenda.form

/build/classes/br/edu/ifnmg/Teste/DataAccess/*.class

/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$7.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoEditar$1.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoEditar$2.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoEditar$3.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoEditar$4.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoEditar.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoEditar.form
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoListar$1.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoListar$2.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoListar.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmProdutoListar.form
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVenda$3.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVenda$4.class
/dist/
/Relatorios/RelatorioTeste.pptx
/build/built-jar.properties
/build/classes/RelatorioTeste.jasper
/build/classes/RelatorioTeste.jrxml
/build/classes/RelatorioTeste.pptx
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/RelatorioTeste.jasper
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/RelatorioTeste.jrxml
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$8.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmPrincipal$9.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVisualizarRelatorio$1.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVisualizarRelatorio.class
/build/classes/br/edu/ifnmg/Teste/InterfaceUsuario/frmVisualizarRelatorio.form
